<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean id="client" class="com.epam.dmrval.learnSpring.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="Joseph"/>
    </bean>
    <bean id="eventLogger" class="com.epam.dmrval.learnSpring.FileEventLogger" init-method="init">
        <constructor-arg value="EventLogger"/>
    </bean>

    <bean id="eventLogger2" class="com.epam.dmrval.learnSpring.ConsoleEventLogger">
    </bean>


    <bean id="event" class="com.epam.dmrval.learnSpring.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>


    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>


    <bean id="app" class="com.epam.dmrval.learnSpring.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>

        <constructor-arg ref="eventLogger2"/>

    </bean>


</beans>